// COLORS

$color-primary-dark: #850e22;
$color-primary: #c31432;
$color-primary-light: #ea3151;

$color-secondary-dark: #000;
$color-secondary: #240b36;
$color-secondary-light: #4a166e;

$color-grey-darker: #333;
$color-grey-dark: #444;
$color-grey: #808080;
$color-grey-light: #bbb;
$color-grey-lighter: #eee;
