.header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 100%;
  text-align: center;

  &-text {
    text-transform: uppercase;

    &__main {
      display: inline-block;
      font-size: 6rem;
      font-weight: 300;
      color: $color-grey-lighter;
      letter-spacing: 2.5rem;
      padding-left: 2.5rem;
    }

    &__sub {
      display: inline-block;
      font-size: 1.7rem;
      font-weight: 700;
      color: $color-grey-lighter;
      letter-spacing: 2.3rem;
      padding-left: 2.3rem;
    }
  }

  &__button {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-block;
      background-color: $color-grey-lighter;
      margin-top: 5rem;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      transition: all 0.2s;
    }

    &:hover {
      background-color: $color-white;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
    }

    &:active,
    &:focus {
      background-color: $color-grey-lighter;
      box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.3);
    }
  }

  &__button-text {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
