.login {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: rgba($color-grey-lighter, 0.8);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__header {
    font-size: 4rem;
    font-weight: 300;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-secondary
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 5rem;
  }

  &__form-field {
    width: 100%;
    margin-bottom: 2rem;
  }

  &__form-label {
    width: 100%;
    color: $color-grey;
    font-size: 2rem;
    padding-left: 1.5rem;
    transform: scale(0.75) translate(-7.5rem, 0);
    transition: all 0.2s;
  }

  &__form-input {
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    color: $color-grey-dark;
    outline: none;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: rgba(#000, 0.03);
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-secondary-light;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-primary;
    }
  }

  &__form-input:placeholder-shown + &__form-label {
    opacity: 0;
    visibility: hidden;
    transform: scale(1) translate(0, -4.2rem);
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--register {
      &,
      &:link,
      &:visited {
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0.5rem;
        color: $color-grey;
        text-decoration: none;
        font-size: 1.7rem;
        cursor: pointer;
        position: relative;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          $color-primary,
          $color-secondary
        );
        transition: all 0.2s;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;
        color: $color-secondary;
      }

      &:hover::after,
      &:active::after,
      &:focus::after {
        width: 100%;
      }
    }

    &--submit {
      &,
      &:link,
      &:visited {
        outline: none;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-grey;
        display: inline-block;
        background-color: rgba(#000, 0.05);
        padding: 1.5rem 4rem;
        border: none;
        border-radius: 10rem;
        position: relative;
        transition: all 0.2s;
      }

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 10rem;
        background-image: linear-gradient(
          to right,
          $color-primary,
          $color-secondary
        );
        content: '';
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
      }

      &:hover {
        color: $color-grey-lighter;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
      }

      &:hover::before {
        visibility: visible;
        opacity: 1;
      }

      &:active,
      &:focus {
        box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.3);
      }
    }
  }
}
